!!! 5
%html
  %head
    %title Not displaying ##{color}
    :css
      html, body { color: #8c8c8c; }
      h1 { display: inline-block; margin: auto; font-family: sans-serif, 'Verdana'; }
  %body
    %h1 ##{color} is not a hex color, you fool!
